# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Hudson Cooper
	email = hudson@avlab.ai 
[diff "jupyternotebook"]
	command = git-nbdiffdriver diff --ignore-outputs
[merge "jupyternotebook"]
	driver = git-nbmergedriver merge %O %A %B %L %P
	name = jupyter notebook merge driver
[difftool "nbdime"]
	cmd = git-nbdifftool diff \"$LOCAL\" \"$REMOTE\" \"$BASE\"
[difftool]
	prompt = false
[mergetool "nbdime"]
	cmd = git-nbmergetool merge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
[mergetool]
	prompt = false
[alias]
	# a shorthand alias for a pretty cli git log graph
	tree  =  "!git log --graph --decorate --pretty=format:'%C(yellow)%h %Cred%cr %Cblue(%an)%C(cyan)%d%Creset %s' --abbrev-commit --all"
